name: sync PCL2Help

# Controls when the workflow will run
on:
  # push:
  schedule:
    - cron: '0 22 * * *'

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  GET:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    permissions:
      contents: write
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - uses: actions/checkout@v3
      # Runs a single command using the runners shell
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
          
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install requests

      - name: clone repo
        run: |
          rm -rf PCL2Help
          git clone https://github.com/LTCatt/PCL2Help.git
    
      - name: Run script
        run: |
          python sync.py
          
      - name: Commit changes
        id: check_commit
        run: |
          # 检查是否有文件被修改但尚未提交
          if [[ $(git status --porcelain) ]]; then
              echo "有文件被修改但尚未提交。"
              # 输出修改的文件列表
              git status --short
              # 添加所有已修改的文件到暂存区
              git add .
              # 提交暂存区中的文件到仓库
              git config --local user.email "github-bot@example.com"
              git config --local user.name "Github-Bot"
              git commit -m "Sync"
              echo "文件已提交到仓库。"
              echo "::set-output name=commit_required::true"
          else
              echo "没有文件被修改。"
              echo "::set-output name=commit_required::false"
          fi
          
      - name: Push changes
        if: ${{ needs.check_commit.outputs.commit_required == 'true' }}
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
